main {
  width: 100%;
  display: table;
}

main, article, aside {
  border: 1px solid #fcddd1;
  padding: 5px;
  /* float: left; */
  display: table-cell;
}

article {
  background-color: #fff4dd;
  width: 74%;
}

aside {
  width: 24%;
}