# JS
node_modules/
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# Java
.gradle/
.idea/
out/

# Folder
dist/

# Clojure
.nrepl-port
.idea/
.cpcache/
.lsp/
.calva/
target/
classes/

.clj-kondo/
