# JS
node_modules/
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# Java
.gradle/
.idea/
out/

# Folder
dist/
.DS_Store

# Clojure
.nrepl-port
.idea/
.cpcache/
.lsp/
.calva/
target/
classes/
**/*/env.edn

.clj-kondo/

.serverless/
*.iml
