#invitation-title {
  color: #BE9E7D;
  font-size: 5em;
  font-weight: bold;
  font-family: 'Nanum Myeongjo', serif;
  width: 100%;
  padding-top: 8vh;
  padding-bottom: 5vh;
}

#invitation-content {
  color: #555555;
  font-size: 2.8em;
  font-weight: normal;
  font-family: 'Nanum Myeongjo', serif;
  width: 100%;
  padding-bottom: 1vh;
}

.invitation-parent-name {
  color: #555555;
  font-size: 2.5em !important;
  font-weight: normal !important;
  font-family: 'Nanum Myeongjo', serif !important;
}

.invitation-middle-dot {
  color: #555555;
  font-size: 2.8em !important;
  font-weight: normal !important;
  font-family: 'Nanum Myeongjo', serif !important;
}

.invitation-childnumber {
  color: #555555;
  font-size: 1.8em !important;
  font-weight: normal !important;
  font-family: 'Nanum Myeongjo', serif !important;
  padding-right: 1vh;
}

.invitation-our-name {
  color: #555555;
  font-size: 3em !important;
  font-weight: normal !important;
  font-family: 'Nanum Myeongjo', serif !important;
}
