{:image {:farming_book_id 94
         :uuid "f924f30e-fe38-46a3-9e65-b92590d261d9"
         :mime_type ""
         :file_name "blank.png"
         :path "log/2021-07-19/94-f924f30e-fe38-46a3-9e65-b92590d261d9-blank.png"
         :order 0}}
