{:db/mysql {:connection-timeout 30000
            :minimum-idle       1
            :maximum-pool-size  2
            :pool-name "db-pool"
            :adapter "mysql8"
            :database-name "cljdev"
            :server-name "127.0.0.1"
            :port-number 3306
            :username "dev"
            :password "1234"}
 :handler/app {:db #ig/ref :db/mysql}
 :server/jetty {:handler #ig/ref :handler/app
                :port 3000
                :join? false}}