{:users
 [{:id 1
   :name "mincheol"
   :age 32
   :active true
   :role :MEMBER}
  {:id 2
   :name "gina"
   :age 33
   :active true
   :role :MEMBER}]

 :backend-team
 {:name "백엔져스"
  :members []
  :tech_stack []}

 :frontend-team
 {:name "프론져스"
  :members []
  :tech_stack ["React", "ClojureScript"]}}